<?php

return [
	'propel' => [
		'paths' => [
			'schemaDir' => '/Applications/XAMPP/xamppfiles/htdocs/defender-app/app/database/',
			'phpDir' => '/Applications/XAMPP/xamppfiles/htdocs/defender-app/app/models/',
		],
	],
];