@import '../text/typography';

#header {
	background: #222;
	float: left;
	padding-left: 10px;
	width: 100%;

	@include width(medium) {
		padding-left: 20px;
	}

	a {
		@extend %h5_responsive;

		color: #fff;
		line-height: 70px;
		padding: 0 10px;
		width: auto;

		@include width(medium) {
			padding: 0 20px;
		}

		&:hover {
			background-color: #17b;
		}
	}
}