@import '../text/typography';

#header {
	background: #222;
	box-shadow: 0 5px rgba(0, 0, 0, 0.05);
	float: left;
	padding-left: 10px;
	width: 100%;

	@include width(medium) {
		padding-left: 20px;
	}

	a {
		@extend %h5_responsive;

		color: #fff;
		line-height: 70px;
		padding: 0 10px;
		width: auto;

		@include width(medium) {
			padding: 0 20px;
		}

		&.apologetics {

			&.active, &:hover {
				background-color: $light_purple;
			}
		}
		&.gods_word {

			&.active, &:hover {
				background-color: $dark_blue;
			}
		}
		&.topics {

			&.active, &:hover {
				background-color: $dark_green;
			}
		}
		&.lessons {

			&.active, &:hover {
				background-color: $yellow;
			}
		}
		&.notes {

			&.active, &:hover {
				background-color: $light_orange;
			}
		}
		&.articles {

			&.active, &:hover {
				background-color: $red;
			}
		}
		&.settings {
			float: right;
			font-size: 24px;

			&.active, &:hover {
				background-color: $pink;
			}
		}
	}
}