// Define width breakpoints
$medium: 576px;
$large: 768px;
$xlarge: 1024px;

// Define fonts
$default_font_size: 18px;
$large_heading_font: 'Bree Serif';
$large_heading_style: 'serif';
$small_heading_font: 'Bitter';
$small_heading_style: 'serif';
$default_text_font: 'Roboto';
$default_text_style: 'sans-serif';

// Palette 1 colours
$purple: #96c;
$blue: #17b;
$green: #1a7;
$yellow: #fc4;
$orange: #f84;
$red: #e44;
$pink: #e69;

// Palette 2 colours
$color1: #099;
$color2: #17b;
$color3: #55a;
$color4: #a59;
$color5: #c46;

/*

// Palette 3 colours
$color1: #ffd600;
$color2: #1565c0;
$color3: #0097a7;
$color4: #00c853;
$color5: #fdd835;
$color6: #f57c00;
$color7: #9c27b0;
$color8: #e91e63;

*/