// Define width breakpoints
$medium: 576px;
$large: 768px;
$xlarge: 1024px;

// Define fonts
$default_font_size: 18px;
$large_heading_font: 'Bree Serif';
$large_heading_style: 'serif';
$small_heading_font: 'Bitter';
$small_heading_style: 'serif';
$default_text_font: 'Roboto';
$default_text_style: 'sans-serif';

// Define colours
$pink: #e69;
$purple: #96c;
$blue: #17b;
$green: #1a7;
$yellow: #fc4;
$orange: #f84;
$red: #e44;