%default_section {
	background-color: #fff;
	box-shadow: 0 5px rgba(0, 0, 0, 0.05);
	float: left;
	margin-bottom: 10px;
	padding: 20px 20px 0;
	width: 100%;

	@include width(medium) {
		box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
		margin-bottom: 20px;
	}
}

%toggle_section {
	background-color: #fff;
	box-shadow: 0 5px rgba(0, 0, 0, 0.05);
	float: left;
	margin-bottom: 10px;
	width: 100%;

	@include width(medium) {
		box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
		margin-bottom: 20px;
	}

	> input[type=checkbox] {
		display: none;

		&:checked {

			& + .heading {
				box-shadow: 0 5px rgba(0, 0, 0, 0.05);

				& + .content {
					height: auto;
					margin: 20px 0;
					padding: 0 20px;
				}
			}
		}
	}
	> .heading {
		@include unselectable();

		cursor: pointer;
		display: flex;
		flex-flow: row nowrap;
		float: left;
		padding: 20px;
		width: 100%;

		.icon {
			color: #fff;
			flex: 0 0 auto;
			font-size: 32px;
			margin-right: 20px;
		}
		h2 {
			@extend %h2;

			color: #fff;
			flex: 1 1 auto;
		}
	}
	> .content {
		float: left;
		height: 0;
		overflow: hidden;
		width: 100%;
	}
}

.passage {
	@extend %blockquote;

	background-color: #fff;
	border-left: 8px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	padding: 10px 0 10px 10px;

	@include width(medium) {
		padding: 20px 0 20px 20px;
	}

	.text {
		float: left;
		width: 100%;

		p {
			@extend %p;

			margin-bottom: 10px;

			sup {
				@extend %sup;

				color: $dark_blue;
				font-weight: bold;
			}
			.word {
				display: inline-block;
				transition: all 0.5s ease 0s;

				&.highlighted {
					background-color: #fd4;
					padding: 0 5px;

					& + .highlighted {
						margin-left: -9px;
					}
				}
			}
			.tags {
				float: left;
				margin-top: 5px;
				width: 100%;

				.tag {
					float: left;
					height: 10px;
					margin-right: 5px;
					width: 10px;

					&:nth-child(7n + 1) {
						background-color: $dark_blue;
					}
					&:nth-child(7n + 2) {
						background-color: $dark_green;
					}
					&:nth-child(7n + 3) {
						background-color: $yellow;
					}
					&:nth-child(7n + 4) {
						background-color: $light_orange;
					}
					&:nth-child(7n + 5) {
						background-color: $red;
					}
					&:nth-child(7n + 6) {
						background-color: $pink;
					}
					&:nth-child(7n + 7) {
						background-color: $light_purple;
					}
				}
			}
		}
	}
	.footer {
		@extend %p;

		color: rgba(0, 0, 0, 0.38);
		float: left;
		font-size: 0.9em !important;
		margin-top: 10px;
		width: 100%;

		cite {
			float: left;
			font-style: normal;
			margin-right: 20px;
		}
		.votes {
			float: left;
			margin-right: 20px;

			.vote_up, .vote_down {
				cursor: pointer;
				display: inline-block;
				padding: 7px 3px 0;

				&:hover {
					color: $dark_blue;
				}
			}
		}
		.relevant_words {
			float: left;
			margin-right: 20px;

			.edit, .confirm {
				cursor: pointer;
				display: inline-block;
				padding: 7px 3px 0;

				&.confirm {
					display: none;
					font-size: 1.1em;
				}

				&:hover {
					color: $dark_blue;
				}
			}
		}
		.tag {
			float: left;

			.delete {
				cursor: pointer;
				display: inline-block;
				padding: 8px 3px 0;

				&:hover {
					color: $dark_blue;
				}
			}
		}
	}
}

.tree_item {
	float: left;
	width: 100%;

	input[type=checkbox].toggler {
		display: none;

		& + .item {

			.link {
				margin-left: 0;
			}
		}

		&:checked {

			+ .item {

				label.toggler {

					&:before {
						content: "-";
					}
				}
			}
			~ .children {
				display: block;
			}
		}
	}

	.item {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 10px;

		&.topic {

			.link {
				border-left-color: $dark_blue;

				&:hover, &.active, &.below {
					background: $dark_blue;
				}
			}
		}
		&.lesson {

			.link {
				border-left-color: $dark_green;

				&:hover, &.active, &.below {
					background: $dark_green;
				}
			}
		}

		label.toggler {
			@extend %h4;

			color: rgba(0, 0, 0, 0.38);
			cursor: pointer;
			display: flex;
			flex: 0 0 25px;
			align-items: center;

			&:before {
				content: "+";
			}
			&:hover {
				color: rgba(0, 0, 0, 0.87);
			}
		}
		.link {
			border-left: 8px solid transparent;
			clear: both;
			flex: 0 0 auto;
			margin-left: 25px;
			padding: 10px 28px 10px 20px;

			&:hover, &.active, &.below {
				color: #fff;

				p {
					color: rgba(255, 255, 255, 0.5);
				}
			}

			h4 {
				@extend %h4;
			}
			p {
				@extend %p;

				clear: both;
				color: rgba(0, 0, 0, 0.38);
				font-size: 0.9em !important;
			}
		}
	}
	.children {
		display: none;
		float: left;
		padding-left: 25px;
		width: 100%;
	}
}

.popup {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;

	@include width(medium) {
		padding: 40px;
	}

	.box {
		background-color: #fff;
		box-shadow: 5px 5px #000;
		max-width: 500px;
		width: 100%;

		.heading {
			box-shadow: 0 5px rgba(0, 0, 0, 0.05);
			float: left;
			padding: 20px;
			width: 100%;

			@include width(medium) {
				padding: 30px;
			}

			h3 {
				@extend %h3;

				color: #fff;
			}
		}
		.content {
			float: left;
			padding: 20px 20px 0;
			width: 100%;

			@include width(medium) {
				padding: 30px 30px 10px;
			}

			p {
				@extend %p;

				margin-bottom: 20px;

				@include width(medium) {
					margin-bottom: 30px;
				}
			}
		}
	}
}