.verse, .passage {
	@extend %blockquote;

	border-left: 8px solid #eee;
	margin-bottom: 20px;
	padding: 10px 0 10px 10px;

	@include width(medium) {
		padding: 20px 0 20px 20px;
	}

	.text {
		sup {
			@extend %sup;

			color: #e4e4e4;
			font-weight: bold;
			padding-right: 5px;
		}
		span {
			display: inline-block;
			transition: all 0.5s ease 0s;

			&.highlighted {
				background-color: #fd4;
				padding: 0 5px;

				& + .highlighted {
					margin-left: -9px;
				}
			}
		}
	}
	cite {
		color: #d8d8d8;
		float: left;
		font-style: normal;
		margin: 5px 20px 0 0;

		span {

			&.bible {

				&:hover {

					&:after {
						content: " · " attr(data-info);
					}
				}
			}
		}
	}
	.votes {
		color: #d8d8d8;
		float: left;
		margin: 5px 20px 0 0;

		.vote_up, .vote_down {
			cursor: pointer;
			display: inline-block;
			padding: 7px 3px 0;

			&:hover {
				color: $blue;
			}
		}
	}
	.relevant_words {
		color: #d8d8d8;
		float: left;
		margin-top: 5px;

		.edit, .confirm {
			cursor: pointer;
			display: inline-block;
			padding: 7px 3px 0;

			&.confirm {
				display: none;
				font-size: 1.1em;
			}

			&:hover {
				color: $blue;
			}
		}
	}
}

.popup {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;

	@include width(medium) {
		padding: 40px;
	}

	.box {
		background-color: #fff;
		box-shadow: 5px 5px #000;
		max-width: 500px;
		width: 100%;

		.heading {
			box-shadow: 0 5px rgba(0, 0, 0, 0.05);
			float: left;
			padding: 20px;
			width: 100%;

			@include width(medium) {
				padding: 30px;
			}

			h3 {
				@extend %h3_responsive;

				color: #fff;
			}
		}
		.content {
			float: left;
			padding: 20px 20px 0;
			width: 100%;

			@include width(medium) {
				padding: 30px 30px 10px;
			}

			p {
				@extend %p;

				margin-bottom: 20px;

				@include width(medium) {
					margin-bottom: 30px;
				}
			}
		}
	}
}