.passage {
	@extend %blockquote;

	border-left: 8px solid #eee;
	margin-bottom: 20px;
	padding: 10px 0 10px 10px;

	@include width(medium) {
		padding: 20px 0 20px 20px;
	}

	sup {
		@extend %sup;

		color: #e4e4e4;
		font-weight: bold;
	}
	mark {
		@extend %mark;

		background-color: #fd4;
	}
	cite {
		color: #d8d8d8;
		float: left;
		font-style: normal;
		margin-top: 5px;
		width: 100%;

		span {

			&.reference {
			}
			&.bible {

				&:hover {

					&:after {
						content: " · " attr(data-info);
					}
				}
			}
			&.vote_up, &.vote_down {
				cursor: pointer;
				display: inline-block;
				padding: 10px 3px;

				&:hover {

					img {
						background-color: $blue;
					}
				}

				img {
					background: #d8d8d8;
					width: 12px;
				}
			}
		}
	}
}