* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top; }

body {
  line-height: 1; }

a {
  color: inherit;
  outline: none;
  text-decoration: none; }
  a img {
    border: none; }

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  button ::-moz-focus-inner {
    border: 0;
    padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }
  table th {
    vertical-align: middle; }
  table td {
    vertical-align: middle; }

:focus {
  outline: 0; }

body {
  font-size: 18px; }

#topics_page h1 {
  float: left;
  font: 1.6em/1.1 "Bree Serif", "serif";
  width: 100%; }

@media (min-width: 550px) {
  #topics_page h1 {
    font-size: 1.9em; } }
@media (min-width: 800px) {
  #topics_page h1 {
    font-size: 2.2em; } }
@media (min-width: 1050px) {
  #topics_page h1 {
    font-size: 2.5em; } }

#topics_page .topic h3 {
  float: left;
  font: 1.2em/1.3 "Bree Serif", "serif";
  width: 100%; }

#header a, #topics_page .toggle_adoptees {
  float: left;
  font: 1em/1.5 "Bree Serif", "serif";
  width: 100%; }

@media (min-width: 550px) {
  #header a {
    font-size: 1.1em; } }

#header {
  background: #222;
  float: left;
  padding-left: 10px;
  width: 100%; }
  @media (min-width: 550px) {
    #header {
      padding-left: 20px; } }
  #header a {
    color: #fff;
    line-height: 70px;
    padding: 0 10px;
    width: auto; }
    @media (min-width: 550px) {
      #header a {
        padding: 0 20px; } }
    #header a:hover {
      background-color: #08c; }

body {
  background: #eee; }

.page {
  float: left;
  padding: 10px;
  width: 100%; }
  @media (min-width: 550px) {
    .page {
      padding: 20px; } }
  .page section {
    background-color: #fff;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; }
    @media (min-width: 550px) {
      .page section {
        margin-bottom: 20px;
        padding: 20px; } }

#topics_page.hide_adoptees .adoptee {
  display: none; }
#topics_page h1 {
  width: auto; }
#topics_page .toggle_adoptees {
  background-color: #c00;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  padding: 2px 5px;
  width: auto; }
  @media (min-width: 550px) {
    #topics_page .toggle_adoptees {
      padding: 10px; } }
  #topics_page .toggle_adoptees:before {
    content: "Hide "; }
  #topics_page .toggle_adoptees.active:before {
    content: "Show "; }
#topics_page .topic {
  background-color: #fff;
  border-left: 10px solid #08c;
  clear: both;
  float: left;
  margin-bottom: 10px;
  padding: 10px; }
  @media (min-width: 550px) {
    #topics_page .topic {
      padding: 20px; } }
  #topics_page .topic.adoptee {
    border-left-color: #ccc; }
  #topics_page .topic:not(.adoptee):hover {
    background-color: #08c;
    color: #fff;
    cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
