@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top; }

body {
  line-height: 1; }

a {
  color: inherit;
  outline: none;
  text-decoration: none; }
  a img {
    border: none; }

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  button ::-moz-focus-inner {
    border: 0;
    padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }
  table th {
    vertical-align: middle; }
  table td {
    vertical-align: middle; }

:focus {
  outline: 0; }

.passage {
  border-left: 8px solid #eee;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px; }
  @media (min-width: 576px) {
    .passage {
      padding: 20px 0 20px 20px; } }
  .passage sup {
    color: #e4e4e4;
    font-weight: bold; }
  .passage mark {
    background-color: #fd4; }
  .passage cite {
    color: #d8d8d8;
    float: left;
    font-style: normal;
    margin-top: 5px;
    width: 100%; }
    .passage cite span.bible:hover:after {
      content: " · " attr(data-info); }
    .passage cite span.vote_up, .passage cite span.vote_down {
      cursor: pointer;
      display: inline-block;
      padding: 10px 3px; }
      .passage cite span.vote_up:hover img, .passage cite span.vote_down:hover img {
        background-color: #17b; }
      .passage cite span.vote_up img, .passage cite span.vote_down img {
        background: #d8d8d8;
        width: 12px; }

body {
  font-size: 18px; }

.passage {
  float: left;
  font: 1em/1.6 "Bitter", "serif";
  width: 100%; }

#topics_page h1, #lessons_page h1, #lesson_page h1 {
  float: left;
  font: 1.6em/1.3 "Bree Serif", "serif";
  width: 100%; }

@media (min-width: 576px) {
  #topics_page h1, #lessons_page h1, #lesson_page h1 {
    font-size: 1.9em; } }
@media (min-width: 768px) {
  #topics_page h1, #lessons_page h1, #lesson_page h1 {
    font-size: 2.2em; } }
@media (min-width: 1024px) {
  #topics_page h1, #lessons_page h1, #lesson_page h1 {
    font-size: 2.5em; } }

#lesson_page h3, #topics_page .topic h3, #lessons_page .lesson h3 {
  float: left;
  font: 1.2em/1.3 "Bree Serif", "serif";
  width: 100%; }

@media (min-width: 576px) {
  #lesson_page h3 {
    font-size: 1.4em; } }
@media (min-width: 768px) {
  #lesson_page h3 {
    font-size: 1.6em; } }

#header a, #topics_page .toggle_adoptees {
  float: left;
  font: 1em/1.5 "Bree Serif", "serif";
  width: 100%; }

@media (min-width: 576px) {
  #header a {
    font-size: 1.1em; } }

.passage mark {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 2px 5px; }

.passage sup {
  font-size: 0.7em;
  line-height: 1.6; }

#header {
  background: #222;
  border-bottom: 8px solid #fff;
  float: left;
  padding-left: 10px;
  width: 100%; }
  @media (min-width: 576px) {
    #header {
      padding-left: 20px; } }
  #header a {
    color: #fff;
    line-height: 70px;
    padding: 0 10px;
    width: auto; }
    @media (min-width: 576px) {
      #header a {
        padding: 0 20px; } }
    #header a.apologetics.active, #header a.apologetics:hover {
      background-color: #96c; }
    #header a.gods_word.active, #header a.gods_word:hover {
      background-color: #17b; }
    #header a.topics.active, #header a.topics:hover {
      background-color: #1a7; }
    #header a.lessons.active, #header a.lessons:hover {
      background-color: #fc4; }
    #header a.notes.active, #header a.notes:hover {
      background-color: #f84; }
    #header a.articles.active, #header a.articles:hover {
      background-color: #e44; }
    #header a.settings {
      float: right; }
      #header a.settings.active, #header a.settings:hover {
        background-color: #e69; }

body {
  background: #eee; }

.page {
  float: left;
  padding: 10px;
  width: 100%; }
  @media (min-width: 576px) {
    .page {
      padding: 20px; } }
  .page .columns {
    float: left;
    margin: 0 -10px;
    width: calc(100% + 20px); }
    .page .columns .column {
      float: left;
      padding: 0 10px;
      width: 100%; }
      @media (min-width: 768px) {
        .page .columns .column {
          width: 50%; } }
  .page section {
    background-color: #fff;
    float: left;
    margin-bottom: 10px;
    padding: 20px 10px 0;
    width: 100%; }
    @media (min-width: 576px) {
      .page section {
        margin-bottom: 20px;
        padding: 20px 20px 0; } }

#topics_page.hide_adoptees .adoptee {
  display: none; }
#topics_page h1 {
  margin-bottom: 20px;
  width: auto; }
#topics_page .toggle_adoptees {
  background-color: #c00;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  padding: 2px 5px;
  width: auto; }
  @media (min-width: 576px) {
    #topics_page .toggle_adoptees {
      padding: 10px; } }
  #topics_page .toggle_adoptees:before {
    content: "Hide "; }
  #topics_page .toggle_adoptees.active:before {
    content: "Show "; }
#topics_page .topic {
  background-color: #fff;
  border-left: 10px solid #17b;
  clear: both;
  float: left;
  margin-bottom: 10px;
  padding: 10px; }
  @media (min-width: 576px) {
    #topics_page .topic {
      padding: 20px; } }
  #topics_page .topic.adoptee {
    border-left-color: #ccc; }
  #topics_page .topic:not(.adoptee):hover {
    background-color: #17b;
    color: #fff;
    cursor: pointer; }

#lessons_page h1 {
  margin-bottom: 20px;
  width: auto; }
#lessons_page .lesson {
  background-color: #fff;
  border-left: 10px solid #17b;
  clear: both;
  float: left;
  margin-bottom: 10px;
  padding: 10px; }
  @media (min-width: 576px) {
    #lessons_page .lesson {
      padding: 20px; } }
  #lessons_page .lesson.adoptee {
    border-left-color: #ccc; }
  #lessons_page .lesson:not(.adoptee):hover {
    background-color: #17b;
    color: #fff;
    cursor: pointer; }

#lesson_page h1 {
  margin-bottom: 20px; }
  #lesson_page h1 span {
    color: #e8e8e8; }
#lesson_page h3 {
  margin-bottom: 20px; }
#lesson_page .passages {
  border-left: 8px solid #17b; }
#lesson_page .topics {
  border-left: 8px solid #1a7; }
#lesson_page .lessons {
  border-left: 8px solid #fc4; }
#lesson_page .notes {
  border-left: 8px solid #f84; }

/*# sourceMappingURL=styles.css.map */
