#lesson_page {

	h1 {
		@extend %h1_responsive;

		margin-bottom: 20px;

		span {
			color: #e8e8e8;
		}
	}
	section {

		&#passages {
			border-bottom: 8px solid $blue;

			.heading {
				background-color: $blue;

				.icon {
					margin-top: 6px;
				}
			}
		}
		&#topics {
			border-bottom: 8px solid $green;

			.heading {
				background-color: $green;

				.icon {
					margin-top: 4px;
				}
			}
		}
		&#lessons {
			border-bottom: 8px solid $yellow;

			.heading {
				background-color: $yellow;

				.icon {
					margin-top: 5px;
				}
			}
			.content {

				ul {
					@extend %ul;

					margin-bottom: 20px;

					li {
						@extend %li;

						a {

							&.current, &:hover {
								color: $yellow;
							}
						}
					}
				}
			}
		}
		&#notes {
			border-bottom: 8px solid $red;

			.heading {
				background-color: $red;

				.icon {
					margin-top: 4px;
				}
			}
		}
	}
}

#add_lesson_popup {

	.box {

		.heading {
			background-color: $blue;

			h3 {

				span {
					display: inline-block;
					font-size: 24px;
					margin: 4px 12px 0 0;

					@include width(medium) {
						font-size: 32px;
						margin-top: 5px;
					}

					@include width(large) {
						margin-top: 6px;
					}
				}
			}
		}
		.content {

			p {
				@extend %p;

				label {
					@extend %label;

					margin-bottom: 5px;
				}
				input[type=text] {
					@extend %input;
				}
				button {
					@extend %button;

					background-color: $blue;
				}
			}
		}
	}
}