#lesson_page {

	.page_heading {
		@extend %default_section;

		h1 {
			@extend %h1;

			margin-bottom: 20px;

			span {
				color: #e8e8e8;
			}
		}
	}
	#passages {
		@extend %toggle_section;

		border-bottom: 8px solid $dark_blue;

		.heading {
			background-color: $dark_blue;

			.icon {
				margin-top: 6px;
			}
		}
		.content {

			p {
				@extend %p;

				margin-bottom: 20px;

				a {
					color: $dark_blue;
					cursor: pointer;
					margin-right: 10px;
				}
			}
		}
	}
	#topics {
		@extend %toggle_section;

		border-bottom: 8px solid $dark_green;

		.heading {
			background-color: $dark_green;

			.icon {
				margin-top: 4px;
			}
		}
	}
	#lessons {
		@extend %toggle_section;

		border-bottom: 8px solid $yellow;

		.heading {
			background-color: $yellow;

			.icon {
				margin-top: 5px;
			}
		}
		.content {

			p {
				@extend %p;

				a {
					color: $dark_blue;
					cursor: pointer;
					margin-right: 10px;
				}
			}
		}
	}
	#notes {
		@extend %toggle_section;

		border-bottom: 8px solid $red;

		.heading {
			background-color: $red;

			.icon {
				margin-top: 4px;
			}
		}
	}
}

.popup {

	.box {

		.heading {
			background-color: $dark_blue;

			h3 {

				span {
					display: inline-block;
					font-size: 24px;
					margin: 4px 12px 0 0;

					@include width(medium) {
						font-size: 32px;
						margin-top: 5px;
					}

					@include width(large) {
						margin-top: 6px;
					}
				}
			}
		}
		.content {

			p {
				@extend %p;

				label {
					@extend %label;

					margin-bottom: 5px;
				}
				input[type=text] {
					@extend %input;
				}
				button {
					@extend %button;

					background-color: $dark_blue;
				}
			}
		}
	}
}