#lessons_page {

	.page_heading {

		h1 {
			@extend %h1;

			margin-bottom: 20px;

			span {
				color: #e8e8e8;
			}
		}
	}
	section {
		@extend %default_section;

		background: #fff;

		.lesson_family {
			float: left;
			width: 100%;

			.match {
				background: #38d878;
			}
		}
	}
}