#lesson_page {

	h1 {
		@extend %h1_responsive;

		margin-bottom: 20px;

		span {
			color: #e8e8e8;
		}
	}
	h3 {
		@extend %h3_responsive;

		margin-bottom: 20px;
	}
	.passages {
		border-left: 8px solid $blue;
	}
	.topics {
		border-left: 8px solid $green;
	}
	.lessons {
		border-left: 8px solid $yellow;
	}
	.notes {
		border-left: 8px solid $orange;
	}
}