body {
	background: #eee;
}

.page {
	float: left;
	padding: 10px 0;
	width: 100%;

	@include width(medium) {
		padding: 20px;
	}

	.columns {
		float: left;
		width: 100%;

		.column {
			float: left;
			width: 100%;

			@include width(large) {
				padding: 0 10px;
				width: 50%;

				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
	.page_section {
		@extend %default_section;
	}
}