@import '../global/config';
@import '../global/mixins';

body {
	color: rgba(0, 0, 0, 0.87);
	font-size: $default_font_size;

	@include width(medium) {
		font-size: $default_font_size + 1.5;
	}
	@include width(large) {
		font-size: $default_font_size + 3;
	}
}

%blockquote {
	float: left;
	width: 100%;
}

%button {
	border: 0;
	color: #fff;
	cursor: pointer;
	float: left;
	font: 1em / 1.6 #{$small_heading_fonts};
	padding: 10px 20px;
	transition: all 0.5s ease 0s;

	&:hover {
		box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
	}
}

%h1 {
	float: left;
	font: bold 2.25em / 1.1 #{$large_heading_fonts};
	width: 100%;
}

%h2 {
	float: left;
	font: bold 1.75em / 1.2 #{$large_heading_fonts};
	width: 100%;
}

%h3 {
	float: left;
	font: bold 1.5em / 1.3 #{$large_heading_fonts};
	width: 100%;
}

%h4 {
	float: left;
	font: bold 1.25em / 1.4 #{$large_heading_fonts};
	width: 100%;
}

%h5 {
	float: left;
	font: bold 1em / 1.5 #{$large_heading_fonts};
	width: 100%;
}

%h6 {
	float: left;
	font: bold 1em / 1.5 #{$small_heading_fonts};
	width: 100%;
}

%input {
	border: 2px solid #eee;
	float: left;
	font: 1em / 1.6 #{$default_fonts};
	padding: 5px 10px;
	transition: all 0.5s ease 0s;
	width: 100%;

	&:focus {
		border-color: $dark_blue;
	}
}

%label {
	float: left;
	font: 1em / 1.6 #{$default_fonts};
	width: 100%;
}

%li {
	float: left;
	font: 1em / 1.6 #{$default_fonts};
	list-style: none;
	width: 100%;

	&:before {
		color: #d8d8d8;
		content: "●";
		margin-right: 5px;
	}
}

%mark {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	padding: 0 5px;
}

%ol {
	float: left;
	width: 100%;
}

%p {
	float: left;
	font: 1em / 1.6 #{$default_fonts};
	width: 100%;
}

%small {
	font-size: 0.8em;
	line-height: 1.6;
}

%sup {
	font-size: 0.7em;
	line-height: 1.6;
}

%table {
	float: left;
	width: 100%;

	tr {

		th {
			border-bottom: 5px solid #eee;
			font: bold 1em / 1.6 #{$default_fonts};
			padding: 0 10px 10px;
			text-align: left;
		}
		td {
			border-bottom: 1px solid #eee;
			font: 1em / 1.6 #{$default_fonts};
			padding: 10px;
			text-align: left;
		}

		&:nth-child(2n+2) {

			td {
				background-color: #f6f6f6;
			}
		}
	}
}

%ul {
	float: left;
	padding: 0 0 0 15px;
	width: 100%;

	@include width(medium) {
		padding: 0 0 0 30px;
	}
	@include width(large) {
		padding: 0 0 0 45px;
	}
}